@model megazlo.Models.User
@{
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.unobtrusive.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.min.js");
}
@using (Html.BeginForm()) {
	<h2 class="entry-title">
		Авторизация</h2>
	<div class="editor-label">
		@Html.LabelFor(model => model.NickName)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.NickName)
		@Html.ValidationMessageFor(model => model.NickName)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.PassWord)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.PassWord)
		@Html.ValidationMessageFor(model => model.PassWord)
	</div><br />
	@Html.ValidationSummary(true)	
	if (ViewBag.ErrMessage != null && ViewBag.ErrMessage.Length > 0) {
	<div>
		@ViewBag.ErrMessage</div>
	}
	
	<input type="submit" value=" Вход " />
}
