@{ViewBag.Title = "Регистрация";}
@model megazlo.Models.User
@{
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.unobtrusive.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.min.js");
}
<style type="text/css">
	.editor-field input
	{
		width: 300px;
	}
</style>
@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset style="padding: 10px 10px 10px 20px;">
		<legend>Регистрация пользователя</legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.UserName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.UserName)
			@Html.ValidationMessageFor(model => model.UserName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Password)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Password)
			@Html.ValidationMessageFor(model => model.Password)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.ConfirmPassword)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.ConfirmPassword)
			@Html.ValidationMessageFor(model => model.ConfirmPassword)
		</div>
	</fieldset>
	<br />
	<input type="submit" value="Создать" />
}