@{
	SquishIt.Css.Add("~/Content/styles/main.css");
	SquishIt.Css.Add("~/Content/styles/style.css");

	SquishIt.JavaScript.Add("~/Scripts/jquery.slidemenu.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery-1.6.4.min.js");

}
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		var loc = '/Home/Error/html5';
		if (!document.createElement('canvas').getContext && document.location.toString().lastIndexOf(loc) == -1)
			document.location = loc;
	</script>
	<title>@ViewBag.Title</title>
	<meta name="WebsiteSpark" content="8ULOjiq6zK" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="@Url.Content("~/Content/styles/images/favicon.ico")" rel="icon" type="image/ico" />
	@SquishIt.Css.Render("~/Upload/StyleScript/Site.min_#.css")
	@SquishIt.JavaScript.Render("~/Upload/StyleScript/Site.min_#.js")
</head>
<body class="blog">
	<div id="container">
		<div id="header" class="clearfix">
			<div id="upper-wrap" class="clearfix">
				<div id="logo">
					<a href="/">
						<img src="@Url.Content("~/Content/styles/images/logoweb.jpg")" alt="megazlo" /></a>
				</div>
				<div id="navigation" class="jqueryslidemenu">
					@Html.Partial("_Menu")
				</div>
			</div>
		</div>
		<div id="content" class="clearfix">
			<div id="primary" class="hfeed">
				@RenderBody()
			</div>
			<div id="sidebar" class="aside">
				<div class="widget widget_categories">
					<div class="widget">
						@if (Request.IsAuthenticated) {
							<h2 class="widget-title">
								Привет, <b>@User.Identity.Name</b>! [@Html.ActionLink("Выход", "LogOff", "Account")]</h2>
							<br />
							<img alt="" src="@Url.Content("~/Upload/Avatars/" + User.Identity.Name + ".jpg")" />						
			}
					</div>
					<div class="widget">
						<h2 class="widget-title">
							QR Code</h2>
						<a href="@Request.Url">
							<img src="@Url.Action("QR", "Help", new { data = Request.Url })" alt="Постоянный адрес страницы" width="150px" height="150px" class="qrimg" />
						</a>
					</div>
					@*<div class="widget">
						<h2 class="widget-title">
							Облако тегов</h2>
						<div style="text-align: left;">
							<div style="margin-left: 3px;">
							<span style="background-color: #cdcccc; font-size: large; padding: 0;">ASP.NET</span><span style="background-color: #cdcccc; font-size: small; padding: 0;">AJAX</span>
								<br />
							<span style="background-color: #cdcccc; font-size: medium; margin: 0;">C#</span>
							</div>
							<img alt="" src="@Url.Content("~/Content/styles/images/staffMan.gif")" width="81" height="154" />
						</div>
					</div>*@
				</div>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer" class="clearfix">
			<img style="float: left;" src="@Url.Content("~/Content/styles/images/mz-logo.png")"
	alt="logo" />
			<p class="copyright">
				&copy; Copyright 2011 megazlo
				<br />
				Присоединяйтесь в <a href="https://twitter.com/megazlonet">Twitter</a>
			</p>
			<p class="credit">
				<a id="spark" href="http://www.microsoft.com/web/websitespark/" title="При поддержке">
					<img src="@Url.Content("~/Content/styles/images/_spark_.png")"
	alt="WebSiteSpark" /></a> <a id="mvc" href="http://www.asp.net/mvc" title="Технологии">
		<img src="@Url.Content("~/Content/styles/images/_asp-net-mvc-3_.gif")"
	alt="ASP.NET MVC 3" /></a> <a id="html5" href="http://www.w3.org/html/" title="Технологии">
		<img src="@Url.Content("~/Content/styles/images/_HTML5_Logo.png")"
	alt="html5" /></a>
			</p>
			<br />
			<br />
			<p class="credit">@*
				<!-- Yandex.Metrika informer -->
				<a href="http://metrika.yandex.ru/stat/?id=6520006&amp;from=informer" target="_blank" rel="nofollow">
					<img src="//bs.yandex.ru/informer/6520006/1_0_FFFFFFFF_FFFFFFFF_0_pageviews" style="width: 80px; height: 15px; border: 0;"
						alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" /></a>
				<!-- /Yandex.Metrika informer -->
				<!-- Yandex.Metrika counter -->
				<div style="display: none;">
					<script type="text/javascript">
						(function (w, c) {
							(w[c] = w[c] || []).push(function () {
								try {
									w.yaCounter6520006 = new Ya.Metrika({ id: 6520006,
										clickmap: true,
										trackLinks: true,
										accurateTrackBounce: true
									});
								}
								catch (e) { }
							});
						})(window, 'yandex_metrika_callbacks');
					</script>
				</div>
				<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
				<noscript>
					<div>
						<img src="//mc.yandex.ru/watch/6520006" style="position: absolute; left: -9999px;" alt="" />
					</div>
				</noscript>
				<!-- /Yandex.Metrika counter -->*@
			</p>
		</div>
	</div>
</body>
</html>
