@using megazlo.Code;
<ul id="menus">
	<li><a class="home ajax" title="Главная" href="/">Главная</a></li>
	@Html.GetMenu()
	@if (Request.IsAuthenticated/*User.IsInRole("Admin")*/) {		
		<li><a href="/Admin">Admin</a>
			<ul>
				<li><a class="ajax" href="@Url.Action("Post", "Admin")">Добавить пост</a></li>
				<li><a class="ajax" href="@Url.Action("AddCategory", "Admin")">Добавить категорию</a></li>
				<li><a class="ajax" href="@Url.Action("CategoryList", "Admin")">Категории</a></li>
				<li><a class="ajax" href="@Url.Action("TagList", "Admin")">Список тегов</a></li>
			</ul>
		</li>
 }
</ul>
