@using megazlo.Code;
<ul id="menus">
	<li><a class="home ajax" title="Главная" href="/">Главная</a></li>
	@Html.GetMenu()
	@if (Request.IsAuthenticated) {		
		<li><a class="ajax" href="@Url.Action("/", "Admin")">Admin</a>
			<ul>
				<li><a class="ajax" href="@Url.Action("Post", "Admin")">Новая статья</a></li>
				<li><a class="ajax" href="@Url.Action("CategoryList", "Admin")">Категории</a></li>
				<li><a class="ajax" href="@Url.Action("TagList", "Admin")">Теги</a></li>
			</ul>
		</li>
 }
</ul>
