@model megazlo.Models.User
@ViewBag.Title = "Установка"
<script type="text/javascript">
	$(function () {
		$('#DateBorn').attr('readonly', 'readonly').datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange: "1950:2000"
		});
	});
</script>
<form method="post" action="/Home/Install" novalidate="novalidate" enctype="multipart/form-data">
<fieldset>
	<legend>Администратор</legend>
	<div class="editor-label">
		@Html.LabelFor(m => m.Name)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.Name)
		@Html.ValidationMessageFor(m => m.Name)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.Family)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.Family)
		@Html.ValidationMessageFor(m => m.Family)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.LastName)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.LastName)
		@Html.ValidationMessageFor(m => m.LastName)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.Login)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.Login)
		@Html.ValidationMessageFor(m => m.Login)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.DateBorn)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.DateBorn)
		@Html.ValidationMessageFor(m => m.DateBorn)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.Email)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.Email)
		@Html.ValidationMessageFor(m => m.Email)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.HaveAvatar)
	</div>
	<div class="editor-field">
		<input type="file" id="ava" name="ava" />
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.PassWord)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.PassWord)
		@Html.ValidationMessageFor(m => m.PassWord)
	</div>
	<div class="editor-label">
		@Html.LabelFor(m => m.ConfirmPassWord)
	</div>
	<div class="editor-field">
		@Html.EditorFor(m => m.ConfirmPassWord)
		@Html.ValidationMessageFor(m => m.ConfirmPassWord)
	</div>
</fieldset>
	@Html.ValidationSummary(true)
<p>
	<input type="submit" value="Установить" />
</p>
</form>
