@using megazlo.Code;
@model IEnumerable<megazlo.Models.Post>
@Html.PageInfo(new { title = ViewBag.Title, value = @Url.Action("Category", new { id = ViewBag.Title, page = ViewBag.PageNum == 0 ? null : ViewBag.PageNum }) })
<script type="text/javascript">
	$(document).ready(function () {
		$('pre').each(function (i, e) { hljs.highlightBlock(e, '  ', true) });
	});
</script>
@foreach (var item in Model) {
	<div class="post hentry parent-container">
		<h2 class="entry-title">
			<a href="@Url.RouteUrl("Post", new { id = item.WebLink })" class="ajax">@item.Title</a> @*<a href="@Url.RouteUrl("Post", new RouteValueDictionary { { "id", item.WebLink } })" rel="bookmark">@item.Title</a>*@</h2>
		<div class="clearfix">
			@Html.Partial("PostInfo", item)
			<div class="entry-content">
				@Html.Raw(item.TextPreview)
				<p>
					<a href="@Url.RouteUrl("Post", new { id = item.WebLink })" class="ajax more-link">Полностью &rarr;</a></p>
				@if (Request.IsAuthenticated /*User.IsInRole("Admin")*/) {
					<div>
						@Html.ActionLink("Редактировать", "Post", "Admin", new { id = item.Id }, new { Class = "ajax" })
						|
						@Html.ActionLink("Удалить", "PostDelete", "Admin", new { id = item.Id }, new { Class = "del_item" })
					</div>
		}
			</div>
		</div>
	</div>
}
<div class="navigation page-navigation">
	@Html.PageNavigator((int)ViewBag.PostCount, (int)ViewBag.PageSize, (int)ViewBag.PageNum)
</div>
