@using megazlo.Code;
@model IEnumerable<megazlo.Models.Post>
@Html.PageInfo(new { title = ViewBag.Title, value = @Url.Action("Category", new { id = ViewBag.Title, page = ViewBag.PageNum == 0 ? null : ViewBag.PageNum }) })
<script type="text/javascript">
	$(document).ready(function () {
		$('pre').each(function (i, e) { hljs.highlightBlock(e, '  ', true) });
	});
</script>
@foreach (var item in Model) {
	<div class="post hentry">
		<h2 class="entry-title">
			<a href="@Url.RouteUrl("Post", new { id = item.WebLink })" class="ajax">@item.Title</a> @*<a href="@Url.RouteUrl("Post", new RouteValueDictionary { { "id", item.WebLink } })" rel="bookmark">@item.Title</a>*@</h2>
		<div class="clearfix">
			<div class="entry-meta entry-header">
				<span class="published">Автор <strong>@item.User.Name @item.User.Family</strong></span> <span class="published">От <strong>@item.DatePost.ToShortDateString()</strong></span>
				@if (item.IsCommentable) {
					<span class="comment-count">Комментарии <a href="@Url.RouteUrl("Post", new { id = item.WebLink })#comments" class="ajax">
						@item.Comment.Count</a></span>
		}
				<span class="permalink">→ <a href="@Url.RouteUrl("Post", new RouteValueDictionary { { "id", item.WebLink } })" class="vtip" title="@item.Title">
					Ссылка</a></span>
			</div>
			<div class="entry-content">
				@Html.Raw(item.TextPreview)
				<p>
					<a href="@Url.RouteUrl("Post", new { id = item.WebLink })" class="ajax more-link">Полностью &rarr;</a></p>
				@if (Request.IsAuthenticated /*User.IsInRole("Admin")*/) {
					<div>
						@Html.ActionLink("Редактировать", "EditNews", "Admin", new { id = item.Id }, new { Class = "title" })
						|
						@Html.ActionLink("Удалить", "DeleteNews", "Admin", new { id = item.Id }, new { Class = "title" })
					</div>
		}
			</div>
		</div>
	</div>
}
<div class="navigation page-navigation">
	@Html.PageNavigator((int)ViewBag.PostCount, (int)ViewBag.PageSize, (int)ViewBag.PageNum)
</div>
