@using SquishIt.Framework;
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		var loc = '/Home/Error/html5';
		if (!document.createElement('canvas').getContext && document.location.toString().lastIndexOf(loc) == -1)
			document.location = loc;
	</script>
	<title>@ViewBag.Title</title>
	<meta name="WebsiteSpark" content="8ULOjiq6zK" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="@Url.Content("~/Content/images/favicon.ico")" rel="icon" type="image/ico" />
	@Html.Raw(Bundle.Css().RenderNamed("main_cs"))
	<script type="text/javascript" src="/Scripts/jquery-1.7.2.min.js"></script>
	@Html.Raw(Bundle.JavaScript().RenderNamed("main_js"))
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>
<body class="blog">
	@if (Request.IsAuthenticated) {
		<div id="notedial" style="display: none;" title="Оповещение">
		</div>
		<div id="deldialg" style="display: none;" title="Удаление">
			Вы действительно хотите удалить?
		</div>
 }
	<div id="container">
		<div id="header" class="clearfix">
			<div id="upper-wrap" class="clearfix">
				<div id="logo">
					<a href="/">
						<img src="@Url.Content("~/Content/images/logoweb.jpg")" alt="megazlo" /></a>
				</div>
				<div id="navigation" class="jqueryslidemenu">
					@Html.Partial("_Menu")
				</div>
			</div>
		</div>
		<div id="content" class="clearfix">
			<div id="primary" class="hfeed">
				@RenderBody()
			</div>
			<div id="sidebar" class="aside">
				<div class="widget widget_categories">
					<h2 class="widget-title">@DateTime.Now.ToString()</h2>
					<div class="widget">
						@Html.Partial("_Login")
					</div>
					<div class="widget">
						<h2 class="widget-title">
							QR Code</h2>
						<img id="qrcode" src="@Url.Action("QR", "Help", new { data = Request.Url })" alt="Постоянный адрес страницы" width="150px" height="150px" class="qrimg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer" class="clearfix">
			<img style="float: left;" src="@Url.Content("~/Content/images/mz-logo.png")"
	alt="logo" />
			<p class="copyright">
				&copy; Copyright 2011 megazlo
				<br />
				Присоединяйтесь в <a href="https://twitter.com/megazlonet">Twitter</a>
			</p>
			<p class="credit">
				<a id="spark" href="http://www.microsoft.com/web/websitespark/" title="При поддержке">
					<img src="@Url.Content("~/Content/images/_spark_.png")"
	alt="WebSiteSpark" /></a> <a id="mvc" href="http://www.asp.net/mvc" title="Технологии">
		<img src="@Url.Content("~/Content/images/_asp-net-mvc-3_.gif")"
	alt="ASP.NET MVC 3" /></a> <a id="html5" href="http://www.w3.org/html/" title="Технологии">
		<img src="@Url.Content("~/Content/images/_HTML5_Logo.png")"
	alt="html5" /></a>
			</p>
		</div>
	</div>
</body>
</html>
