@model megazlo.Models.Category
@{
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.unobtrusive.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.min.js");
}
@using (Html.BeginForm()) {
	<h2 class="entry-title">
		@ViewBag.Title</h2>
	<p class="editor-label">
		@Html.LabelFor(model => model.Title)
		<br />
		@Html.EditorFor(model => model.Title)
		@Html.ValidationMessageFor(model => model.Title)
	</p>
	<p class="editor-label">
		@Html.LabelFor(model => model.Por)
		<br />
		@Html.EditorFor(model => model.Por)
		@Html.ValidationMessageFor(model => model.Por)
	</p>
	<br />
	@Html.ValidationSummary(true)
	<p>
		<input type="submit" value="Создать" />
	</p>
}
