@model megazlo.Models.Comment
@using CaptchaMVC.HtmlHelpers;
@using (Ajax.BeginForm("AddComment", "Home", null)) {
	<fieldset>
		<legend>Новый коментарий</legend>
		<div class="editor-label">
			@Html.LabelFor(m => m.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.FirstName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.FirstName)
			@Html.ValidationMessageFor(m => m.FirstName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Text)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(m => m.Text, new { rows = "3", style = "width: 100%;" })
			@Html.ValidationMessageFor(m => m.Text)
		</div>
		<input type="hidden" id="PostId" value="@Model.PostId" name="PostId" />
		<input id="Submit_Comment" type="submit" value="Запостить" style="margin: 38px 20px 0 0;" />
		@Html.Captcha("Обновить", "Введите символы", 5)
	</fieldset>
}
