@model megazlo.Models.User
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm()) {
	<fieldset>
		<legend>Регистрация админитратора</legend>
		<div class="editor-label">
			@Html.LabelFor(m => m.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Name)
			@Html.ValidationMessageFor(m => m.Name)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Family)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Family)
			@Html.ValidationMessageFor(m => m.Family)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.LastName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.LastName)
			@Html.ValidationMessageFor(m => m.LastName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.NickName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.NickName)
			@Html.ValidationMessageFor(m => m.NickName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.DateBorn)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.DateBorn)
			@Html.ValidationMessageFor(m => m.DateBorn)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Email)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Avatar)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Avatar)
			@Html.ValidationMessageFor(m => m.Avatar)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.IsAdmin)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.IsAdmin)
			@Html.ValidationMessageFor(m => m.IsAdmin)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.PassWord)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PassWord)
			@Html.ValidationMessageFor(m => m.PassWord)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.ConfirmPassWord)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.ConfirmPassWord)
			@Html.ValidationMessageFor(m => m.ConfirmPassWord)
		</div>
		@Html.ValidationSummary(true)
	</fieldset>
	<p>
		<input type="submit" value="Установить" />
	</p>
}
