@using megazlo.Code
@model megazlo.Models.Post
@{
	SquishIt.Css.Add("~/Scripts/highlight/styles/vs.css");
	SquishIt.Css.Add("~/Content/redmond/jquery-ui-1.8.16.custom.css");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.unobtrusive.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery.validate.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery-ui-1.8.16.custom.min.js");
	SquishIt.JavaScript.Add("~/Scripts/jquery.vtip.js");
	SquishIt.JavaScript.Add("~/Scripts/Ajax/Comments.js");
	SquishIt.JavaScript.Add("~/Scripts/highlight/highlight.pack.js");
}
<script type="text/javascript">
	$(document).ready(function () {
		$('pre').each(function (i, e) { hljs.highlightBlock(e, '  ', true) });
	});
</script>
<div id="confirmDialog" title="Удалить" style="display: none;">
	<p style="font-size: 14px;">
		Вы действительно хотите удалить коментарий?
		<br />
		<br />
		После удаления его уже невозможно будет востановить!</p>
</div>
<div class="post hentry">
	<h2 class="entry-title">
		<a href="@Url.RouteUrl("Post", new RouteValueDictionary { { "id", Model.WebLink } })" rel="bookmark">@Model.Title</a></h2>
	<div class="clearfix">
		@if (Model.IsShowInfo) {
			<div class="entry-meta entry-header">
				<span class="published">Автор <strong>@Model.User.Name @Model.User.Family</strong></span> <span class="published">От <strong>@Model.DatePost.ToShortDateString()</strong></span>
				@if (Model.IsCommentable) {
					<span class="comment-count">Комментарии <a href="@Url.RouteUrl("Post", new RouteValueDictionary { { "id", Model.WebLink } })#comments">
						@Model.Comment.Count</a></span>
		}
				<span class="permalink">→ <a class="vtip" href="@Url.Action("Post", new { id = Model.WebLink })">Ссылка</a></span>
			</div>
	}
		<div class="@Html.GetClassPost(Model.IsShowInfo)">
			@Html.Raw(Model.Text)
			@if (Request.IsAuthenticated /*User.IsInRole("Admin")*/) {
				<div>
					@Html.ActionLink("Редактировать", "EditNews", "Admin", new { id = Model.Id }, new { })
					|
					@Html.ActionLink("Удалить", "DeleteNews", "Admin", new { id = Model.Id }, new { })
				</div>
	 }
		</div>
	</div>
</div>
@if (Model.IsCommentable) {
	<div id="comment-wrap" class="clearfix">
		<div class="comments-sidebar">
			<h3 id="comments">
				Комментарии:</h3>
			<p>
				Есть что сказать? <span class="continue-reading"><a href="#newcomm">Оставьте комментарий</a></span></p>
		</div>
		<div class="commentlist">
			@Html.Partial("CommentNew", new megazlo.Models.Comment() { PostId = Model.Id })
			<ol class="commentlist">
				@foreach (var item in Model.Comment) {
					@Html.Partial("CommentRead", item)
		}
			</ol>
		</div>
	</div>
}
